.roadmap {
    background: var(--bgRoadmap);

    &-grass {
        margin-top: -20vw;
        position: relative;

        img:first-child {
            position: relative;
            z-index: 2;
        }

        .rabbit {
            position: absolute;
            left: 8%;
            width: 10vw;
            z-index: 0;

            &.animation {
                animation: toDown 4s linear forwards;
            }
        }
    }

    &-image {
        margin-top: -10vw;
        position: relative;
        z-index: 3;
    }

    &-container {
        position: absolute;
        top: 16%;
        left: 35%;
    }

    &-content {
        position: relative;
        width: 14vw;

        .item {
            position: absolute;
            top: 4vw;
            left: -11.8vw;
            @include flexGap(3vw);
            align-items: center;
            width: 35vw;
            color: var(--black);
            font-family: 'Lapsus';

            &.--second {
                top: 15vw;
                left: -15.4vw;
            }

            &.--third {
                top: 28vw;
                left: -1.2vw;
            }

            &.--fourth {
                top: 43vw;
                left: -14.7vw;
            }
        }
    }

    &-gif {
        position: absolute;
        right: 4vw;
        bottom: 5vw;
        width: 55vw;
    }
}

@keyframes toDown {
    0% {
        top: 60%;
    }

    100% {
        top: 77%;
    }
}