.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: var(--bg);
}

html,
body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white);
  transition: var(--smooth);
  font-size: 24px;
  font-family: 'Lapsus';

  &:hover,
  &.active {
    color: var(--yellow);
    text-decoration: none;
  }

  @include TabletMobile {
    font-size: 20px;
  }
}

button,
input {
  border: 0;
  outline: none;
  background: transparent;
}

img {
  width: 100%;
  display: block;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  [data-aos] {
    pointer-events: auto !important;
    opacity: 1 !important;
    transform: none !important;
  }

  html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
    opacity: 1 !important;
  }

  html:not(.no-js) [data-aos=fade-up] {
    transform: none !important;
  }
}